.column1{
    float:right
}
.canvas{
    float: left;
}
.column2{
    padding-left: 10px;
}
.fon{
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.slider{
    accent-color: #F55050;
    margin-top: 20px;
    color: aliceblue;
    height:5px
}
.sliderText{
    float: left;
    font-size: medium;
}
.button1{
    background-color: black;
    border-radius: 15px;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
}
.button1:hover{
    opacity: 60%;
}
.button1::after{
    opacity: 40%;
}