a{
    color: rgb(90, 110, 220);
}
.fon{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.grid{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 25px;
    flex-wrap: wrap;
}
.graph{
    max-block-size: calc(25vw - 40px);
    padding: 10px;
}
.itemDescription2{
    padding-left: 5%;
    font-size: calc(2vh + 2px);
    text-align: center;
    max-width: calc(25vw - 40px);
    padding-top: 0%; 
    margin-top: 0%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.sectionTitle{
    font-size: calc(3vh + 3px);
    text-align: center;
    color: rgb(186, 193, 198);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 15px;
    width:50vw;
    margin-left: 25vw;
}
@media(orientation: portrait){
    .graph{
        max-block-size: 46vw;
        padding: 1vw;
    }
    .itemDescription2{
        padding-left: 0%;
        max-block-size: 46vw;   
        max-width: 46vw;
    }
    .sectionTitle{
        margin-left: 10vw;
        width: 80vw;
        font-size: calc(2vh + 2px);
    }
    .grid{
        padding: 0px
    }
}
.titleContainer{
    text-align: center;
    width: 100%;
    height: 30%;
    background-image: url(../thumbnails/pretty_colors\ \(5\).png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.titleContainer2{
    text-align: center;
    width: 100%;
    height: 30%;
    background-image: url(../thumbnails/pretty_colors_flippy.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.topbar{
    height: 35px;
    background: linear-gradient(#000D, #0000);
}
.linkContainer{
    padding-top: 5px;
}
.mobile-display{display:none}
.desktop-display{display:block}
@media (max-width:800px){
.desktop-display {display:none}
.mobile-display {display:block}
}
.topbarLink{
    text-shadow: 1px 1px 3px #000;
    float: left;
    font-size: calc(2vh + 3px);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-underline-offset: 2px;
    color: rgb(186, 193, 198);
    font-weight: lighter
}
.selected{
    color: aliceblue;
    font-size: calc(2vh + 5px);
}
.separater{
    width:98vw;
    padding-top: 5px;
    margin-bottom: 15px;
}
.thumbImg{
    width: 30vw;
    border-radius: 15px;
    border: solid;
    border-width: 2px;
    border-color: rgb(186, 193, 198);
}
.thumbImgContainer{
    padding-left: 0%;
    width: fit-content;
    height: fit-content;
}
.itemTitle{
    color:rgb(186, 193, 198);
    font-size: calc(2.5vh + 3px);
    margin: auto;
}
.itemDescriptionContainer{
    width:63vw;
    height:50%;
    padding-left: 2vw;
    margin-top: 1vw;
}
.itemDescription{
    margin-top: 3%;
    padding-left: 0vw;
    font-size: calc(2vh + 3px);
}
.orderFirst{
    order:1;
}
.orderSecond{
    order:2;
}
.itemContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 96vw;
}
.fll{
    float:left
}
.flr{
    float:right
}
h1{    
    font-size: 6vh;
    text-shadow: 0px 1px 7px rgb(0, 0, 0);
    padding-top: 6%;
    margin:auto;
    color: aliceblue;
}
p{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding-top: 1%;
    padding-bottom: 6%;
    color: rgb(186, 193, 198);
}
