a{
    color: rgb(50, 90, 200);
}
.fon{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.titleContainer{
    text-align: center;
    width: 100%;
    height: 50%;
    /*Testing-texture-buffers */
    background-image: url(../thumbnails/pretty_colors\ \(5\).png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
.sectionTitle{
    font-size: calc(3vh + 3px);
    text-align: center;
    color: rgb(186, 193, 198);
}
.thumbImg{
    width:100%;
    margin: auto;
    border-radius: 15px;
    border: solid;
    border-width: 2px;
    border-color: rgb(186, 193, 198);
}
.thumbImgContainer{
    width: 47%;
}
.itemTitle{
    color:rgb(186, 193, 198);
    font-size: calc(2.5vh + 3px);
    margin: auto;
}
.itemDescriptionContainer{
    width:50%;
}
.itemDescription{
    margin-top: 3%;
    font-size: calc(2vh + 3px);
}
.orderFirst{
    order:1;
}
.orderSecond{
    order:3;
}
.itemContainer{
    padding: 1%;
    width: auto;
}
.fll{
    float:left
}
.flr{
    float:right
}
h1{    
    font-size: 6vh;
    text-shadow: 0px 1px 7px rgb(0, 0, 0);
    padding-top: 6%;
    margin:auto;
    color: aliceblue;
}
p{
    text-shadow: 0px 1px 7px rgb(0, 0, 0);
    font-size: 2vh;
    padding-top: 1%;
    padding-bottom: 6%;
    color: rgb(186, 193, 198);
}
