a{
    color: rgb(50, 90, 200);
    
}
.leftMenu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 25%;
    float:left;
}

.rightMenu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 25%;
    float:right;
}
.otherCanvas{
    margin: 0%;
    width: 95%;
    height: auto;
}
.canvasContainer{
    float:left;
    margin-left:0%;
    margin-right:0%;
    width:50%;
    height:50%;
}
.instructions{
    color:azure;
}
.information{
    color:rgb(99, 157, 177);
}
.pressOnce{
    color:rgb(9, 17, 17);
    background-color: rgb(99, 157, 177);
    border-radius: 2px;
    border-style:solid;
    border-width: 1px;
    margin: 5px;
}
.flr{
    float:right;
}
.fll{
    float:right;
}
.pressOnce:hover{
    background-color: rgb(69, 128, 149);
}
.buttonContainer{
    float: left;
    background-color:rgb(57, 65, 67);
    width:95%;
    border-radius: 3px;
}
.homeIcon{
    background: url('/sims/nbodygravity/iconassets/dsBuffer.bmp.png');
    height: 20px;
    width: 20px;
    display: block;
    border-style: none;
    margin: 5px;
}
.homeIcon:hover{
    opacity: .6;
}
.clearIcon{
    background: url('/sims/nbodygravity/iconassets/clear.png');
    height: 20px;
    width: 20px;
    display: block;
    border-style: none;
    margin: 5px;
}
.clearIcon:hover{
    opacity: .6;
}
.resetIcon{
    background: url('/sims/nbodygravity/iconassets/reset.png');
    height: 20px;
    width: 20px;
    display: block;
    border-style: none;
    margin: 5px;
}
.resetIcon:hover{
    opacity: .6;
}