a{
    color: rgb(50, 90, 200);
    
}
.orderFirst{
    z-index: 1;
}
.orderSecond{
    z-index: 0;
}
.dl {
    direction: ltr
}
.leftMenu {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    height: 200px;
    border-bottom-right-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color:aliceblue
}
.numberInput{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:20%;
    min-width: 40px;
    background-color: rgb(99, 157, 177);
    border-style: solid;
    border-radius: 4px;
}
.rightMenu {
    direction: ltr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}
.otherCanvas{
    margin-right: 0%;
    width: 100vw;
    height: auto;
}
.canvasContainer{
    margin-left:0%;
    margin-right: 0%;
    position: absolute;
    margin-left:0%;
    margin-right:0%;
    width:95vw;
    height:95vh;
}
.instructions{
    margin-left: 2%;
    color:azure;
}
.information{
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top:1%;
    color:rgb(99, 157, 177);
}
.pressOnce{
    color:rgb(9, 17, 17);
    background-color: rgb(99, 157, 177);
    border-radius: 2px;
    border-style:solid;
    border-width: 1px;
    margin: 5px;
}
.flr{
    float:right;
}
.fll{
    float:left;
}
.pressOnce:hover{
    background-color: rgb(69, 128, 149);
}
.buttonContainer{
    width: 100%;
    margin-left:2%;
}
.homeIcon{
    background: url('../sims/nbodygravity/iconassets/dsBuffer.bmp.png');
    height: 20px;
    width: 20px;
    border-style: none;
    margin: 5px;
}
.homeIcon:hover{
    opacity: .6;
}
.clearIcon{
    background: url('../sims/nbodygravity/iconassets/clear.png');
    height: 20px;
    width: 20px;
    border-style: none;
    margin: 5px;
}
.clearIcon:hover{
    opacity: .6;
}
.resetIcon{
    background: url('../sims/nbodygravity/iconassets/reset.png');
    height: 20px;
    width: 20px;
    border-style: none;
    margin: 5px;
}
.resetIcon:hover{
    opacity: .6;
}
.sliderContainer{
    width: 98%;
    margin-left: 2%;
}
.slider{
    margin-top: 10px;
    width:55%;
    -webkit-appearance: none;
    background-color: rgb(69, 128, 149);
    border-radius: 5px;
    height:5px
}
.sliderDesc{
    float:left;
    width:40%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 10px;
    border-radius: 5px; 
    background: #33b;
    cursor: pointer;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}  
.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #33b;
    cursor: pointer;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
