a{
    color: rgb(50, 90, 200);
    
}
.orderFirst{
    z-index: 1;
}
.orderSecond{
    z-index: 0;
}
.leftMenu {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 25%;
    float:left;
}
.numberInput{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:20%;
    min-width: 40px;
    background-color: rgb(99, 157, 177);
    border-style: solid;
    border-radius: 4px;
}
.rightMenu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    float: left;
}
.otherCanvas{
    margin-right: 0%;
    width: 100vw;
    height: auto;
}
.canvasContainer{
    margin-left:0%;
    margin-right: 0%;
    position: absolute;
    margin-left:0%;
    margin-right:0%;
    width:95vw;
    height:95vh;
}
.instructions{
    padding: 0%;
    margin: 0%;
    margin-top: .1%;
    color:azure;
}
.information{
    padding: 1%;
    margin: auto;
    color:rgb(99, 157, 177);
}
.pressOnce{
    color:rgb(9, 17, 17);
    background-color: rgb(99, 157, 177);
    border-radius: 2px;
    border-style:solid;
    border-width: 1px;
    margin: 5px;
}
.flr{
    float:right;
}
.fll{
    float:left;
}
.pressOnce:hover{
    background-color: rgb(69, 128, 149);
}
.buttonContainer{
    width: fit-content;
    border-radius: 3px;
}
.homeIcon{
    background: url('../sims/nbodygravity/iconassets/dsBuffer.bmp.png');
    height: 20px;
    width: 20px;
    border-style: none;
    margin: 5px;
}
.homeIcon:hover{
    opacity: .6;
}
.clearIcon{
    background: url('../sims/nbodygravity/iconassets/clear.png');
    height: 20px;
    width: 20px;
    border-style: none;
    margin: 5px;
}
.clearIcon:hover{
    opacity: .6;
}
.resetIcon{
    background: url('../sims/nbodygravity/iconassets/reset.png');
    height: 20px;
    width: 20px;
    border-style: none;
    margin: 5px;
}
.resetIcon:hover{
    opacity: .6;
}
